.link-off-bg{
    height: 20px;
  width: 20px;
  border-radius: 10.5px;
  background-color: rgba(27,13,61,0.6);
  margin-left: 10px;
  cursor: pointer;
}
.link-off-no-opacity-bg{
    height: 20px;
    width: 20px;
    border-radius: 10.5px;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}