.dash-row-left-test
{
        border-left: 1px dashed rgba(192,200,217,0.6);
        border-bottom: 1px dashed rgba(192,200,217,0.6);
        position:absolute;
       // background-color:#FBFBFC;
        // height: 100%;
        display: inline-block;
        top: 1%;
        // top:100%;
        // left:20%;
        z-index:0;
}