.no-orders-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	min-width: 70vw;
	flex: 1;
	.no-results-text {
		height: 20px;
		width: 110px;
		color: rgba(0, 0, 0, 0.6);
		font-family: 'Rubik';
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 20px;
		text-align: center;
	}

	.no-results-btn {
		box-sizing: border-box;
		height: 37px;
		width: 105px;
		border: 1px solid rgba(192, 200, 217, 0.38);
		border-radius: 4px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		.btn-text {
			height: 16px;
			width: 73px;
			color: #2ec4b6;
			font-family: Rubik;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1.25px;
			line-height: 16px;
			text-align: center;
		}
	}
}
.textAddIcon {
	height: 20px;
	width: 145.78px;
	color: rgba(0,0,0,0.87);
	font-family: Rubik;
	font-size: 14px;
	letter-spacing: 0.25px;
	line-height: 20px;
	text-align: right;
  }
  .action-row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;

  }
