.modal-btn{
  height: 36px;
  width: 127px;
  border-radius: 8px;
  background-color: #2EC4B6;
   color:#FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
  box-shadow: 0 2px 25px 0 rgba(192,200,217,0.38);
  margin-bottom:0.2rem;
  cursor: pointer;

}
