.card_info{
    display:flex;
    direction: rtl;
    flex-direction: column;
    height: 64px;
    align-items: flex-start;
    justify-content: center;

}
.card_info_title {
    height: 28px;
    color: rgba(0,0,0,0.87);
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: right;
    font-weight: 600;
  }
  .card_info_subTitle{
  color: rgba(0,0,0,0.6);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
  }
  .card_info_subTitles{
      display: flex;
  }
  .CardForTabListStyle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .list-group-text{
    color: rgba(0,0,0,0.6);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align: right;
  }
  .list-group-text-bold{
    color: rgba(0,0,0,0.87);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-weight: 500;
  }
  .list-group-square{
    height: 28px;
    width: 62px;
    border-radius: 4px;
    background-color: rgba(192,200,217,0.38);
    display: flex;
    margin-left: 1rem;
    align-items: center;
  }
  .list-group-square-text{
  height: 20px;
  width: 35px;
  color: rgba(0,0,0,0.87);
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: center;
  }
  .CardForTabListStyle{
    display: flex;
    justify-content: flex-end;
  }
  .list-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .dot{
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 50px;
    height:1px;
    margin-top:7px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  } 
  .card_info_document{
    display: flex;
    direction: rtl;
    flex-direction: row;
    border-bottom: 1px solid rgba(192, 200, 217, 0.38);
    height: 64px;
   align-items: center;
   justify-content: space-between;

  }
  .card_info_document_row{
    display: flex;
    flex-direction: row;
  }
  .card_info_main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

  }
  .remove-Connection{
    box-sizing: border-box;
    height: 37px;
    width: 96px;
    border: 1px solid rgba(192,200,217,0.38);
    border-radius: 4px;
    background-color: #FFFFFF;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .card_info_document_subTitles{
    display: flex;
    flex-direction: row;
    align-items:center;

  }
  .passengersInformationCard{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content: space-between;
  }
  .showMoreInformation{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 36px;
    width: 106px;
    color: #2EC4B6;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #2EC4B6;
    cursor: pointer;

  }
  .card_info_img_document{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    border: 1px solid rgba(192,200,217,0.38);
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(192,200,217,0.6);

  }
  .card-tab-wrapper-actions-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(192, 200, 217, 0.38);
  }
  .card-tab-wrapper-info{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }
  .card-tab-wrapper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(192, 200, 217, 0.38);
    flex-direction: row-reverse;
  }
.card_info_number{
  margin-left: 15px;
  color: rgba(0,0,0,0.6);
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}
.price-list-card-wrapper{
  padding: 10px;
  box-sizing: border-box;
  height: 101px;
  margin: 5px;
  display: flex;
  flex-direction: row-reverse;
 // width: 523px;
  border: 1px solid rgba(194,198,218,0.17);
  border-radius: 8px;
  background-color: #FFFFFF;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgba(192,200,217,0.17);
}
.oval-gray-bg{
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
 height: 40px;
  width: 39.4px;
  background-color: rgba(192,200,217,0.17);
  margin-left: 5px;
  margin-right: 5px;
}
.price-name-text{
  height: 28px;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  color: rgba(0,0,0,0.87);
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: right;
}
.price-details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
}
.price-status-active{
  height: 16px;
  width: 25px;
  color: #2EC4B6;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
}
.price-status-not-active{
  height: 16px;
  //width: 25px;
  color: red;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
}
.num-of-items-in-priceList{
  height: 16px;
  width: 94px;
  color: rgba(0,0,0,0.87);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}
.contract-cosde-in-priceList{
  height: 16px;
  width: fit-content;
  color: rgba(0,0,0,0.87);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: right;
}
.contract-details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.contract-status-text{
  height: 16px;
  width: fit-content;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;

  &.not-active{
    color: #FF5252;
  }
  &.active{
    color: #2EC4B6;
  }
  &.draft{
    color: #0000FE;
  }
  &.bid{
    color: #FF8F00;
  }
  &.finish{
    color: rgba(0, 0, 0, 0.6);;
  }

}