.checkbox-form-control {
	width: 50% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	margin-right: 10px !important;
	margin-left: 10px !important;

	.checkbox-item {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: #43496a;
		font-family: Rubik;
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 20px;
	}
}
