.react-code-input {
	display: flex !important;
	justify-content: space-between;
	border-color: $color-border-gray;
	direction: ltr;

	input {
		text-align: center;
		font-size: 14px;
		color: $color-text-dark-2;
		width: 77px;
		height: 38px;
		padding-left: 7px;
		border-radius: 4px;
		background-color: $color-gray-2;
		border-bottom: 2px solid;
		border-color: inherit;
		&:focus {
			border-color: $color-border-blue;
		}
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
