.right-line-red-constrain{
    height: 60px;
    width: 1px;
    position: absolute;
    top: 0;
}

.bg-constrain-chip {
    //background-image: repeating-linear-gradient(45deg,rgba(250, 187, 187, 0.6),rgba(85, 50, 29, 0.2) 8%);
    background-color: rgba(250, 187, 187, 0.6);
    height: 60px;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.tooltip-of-constrain{
    box-shadow: 0 2px 25px 0 rgba(192,200,217,0.38);
    opacity: 1 !important;
    height:164px !important;
    width: 257px !important;
    z-index: 9999 !important;
}
.constrain-title{
    height: 28px;
  width: 133px;
  color: rgba(0,0,0,0.87);
  font-family: 'Rubik', cursive;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: right;
}
.constrain-sub-title-approved{
    height: 16px;
    width: 53px;
    color: #2EC4B6;
    font-family: 'Rubik', cursive;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: right;
}
.constrain-sub-title-not-approved{
    height: 16px;
    width: 53px;
    color: #FB4659;
    font-family: 'Rubik', cursive;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: right;
}
.constraint-data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
.fiels-name-constraint-data{
    height: 16px;
    width: 88.93px;
    color: rgba(0,0,0,0.38);
    font-family:  'Rubik', cursive;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: right;
}
.fiels-value-constraint-data{
        height: 16px;
        width: 79px;
        color: rgba(0,0,0,0.6);
        font-family: 'Rubik', cursive;
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        text-align: end;
}
.constrain-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.constrain-info-title{
    color: rgba(0,0,0,0.87);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align: right; 
    display: flex;
    flex-direction: row;
}
.constrain-sub-container{
    display: flex;
}
.constrain-info-sub-title{
    margin-left: 4px;
    color: rgba(0,0,0,0.6);
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: right;
}
.constrain-info-dot{
    border:1px solid rgba(0,0,0,0.5);
        border-radius: 50px;
        height:1px;
        width: 1px;
    //     margin-right:3px;
    //     margin-top:7px;
}
