.table {
	/* Make sure the inner table is always as wide as needed */
	width: 100%;
	border-spacing: 0;

	.tr {
		max-width: 100%;
		width: 100%;
		min-width: 100%;

		:last-child {
			.td {
				border-bottom: 0;
			}
		}
	}

	.th,
	.td {
		border: 1px solid rgba(192, 200, 217, 0.38);

		margin: 0;
		padding: 0.5rem;
		// border-bottom: 1px solid black;
		// border-right: 1px solid black;

		/* The secret sauce */
		/* Each cell should grow equally */
		// width: 1%;
		/* But "collapsed" cells should be as small as possible */
		&.collapse {
			width: 0.0000000001%;
		}
		&.longitude{
			display: none !important;
		}

		:last-child {
			border-right: 1px;
			border-left: 1px;
		}

		:first-child {
			border-right: 1px;
			border-left: 1px;
		}

		.resizer {
			display: block;
			background: rgba(192, 200, 217, 0.38);
			width: 15px;
			z-index: 3;
			opacity: 0;
			height: 100%;
			position: absolute;
			right: 0;
			// left: 0;
			top: 0;
			transform: translateX(50%);
			z-index: 1;
			/* prevents from scrolling while dragging on touch devices */
			touch-action: none;

			&.isResizing {
				background: rgba(192, 200, 217, 0.38);
			}
		}

		.header-text {
			color: rgba(0, 0, 0, 0.6);
			font-family: Rubik;
			font-size: 12px;
			letter-spacing: 0.4px;
			line-height: 16px;
			text-align: right;
		}

		.data-text {
			input {
				color: rgba(0, 0, 0, 0.87);
				font-family: Rubik;
				font-size: 14px;
				letter-spacing: 0.25px;
				line-height: 20px;
				text-align: right;
			}
		}
	}
}
