// .MuiSelect-select.MuiSelect-outlined.MuiOutlinedInput-input.MuiInputBase-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
// 	border: 0 0 1px 0 solid black !important;
//     outline: none !important;
// }
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	// width: 100% !important;
	direction: rtl !important;
	// background-color: red !important;
}

.css-1wrww81-MuiInputBase-root-MuiInput-root:before {
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.css-1480iag-MuiInputBase-root-MuiInput-root:after {
	border-bottom: 1px solid #2ec4b6 !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
	left: 10% !important;
	right: auto !important;
}
.css-1utq5rl{
	left: 10% !important;
	right: auto !important;
}

.MuiSelect-select.MuiSelect-standard.MuiInput-input.MuiInputBase-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
	padding-right: 6px !important;
}

.option-container{
	display: flex;
	align-items: center;

	.color-container{
		min-height: 15px;
		max-height: 15px;
		min-width: 15px;
		max-width: 15px;
		margin: 0 0px 0 10px;

	
	}
}
// .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
// 	background-color: red !important;
//     width: 100% !important;
// 	// background-color: red !important;
// }

//MuiInput-root MuiInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1480iag-MuiInputBase-root-MuiInput-root"
